{% extends 'base.html' %}

<!--修改动态页面-->
{% block content %}
<h2>您的所有动态</h2>
<hr>
{% if err  %}
<h1 style="color:red ">{{ err }}</h1>
{% endif %}

{% for art in articles %}

<form action="/article/modify" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" name="art_id" value="{{ art.id }}" hidden>
        {{ art.author.username }}:<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;<textarea name="content">{{ art.content }}</textarea><br/>
        <input type="submit" value="修改"><br/>
        <a href="/article/delete?art_id={{ art.id }}">删除动态</a>


    </div>
</form>
{% endfor %}
{% endblock  %}