{% extends 'base.html' %}

<!--动态显示页面-->
{% block content %}
{% if err  %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">错误</h4>
  <hr>
  <p class="mb-0">{{ err }}</p>
</div>
{% endif %}

<div style="margin-top: 20px" class="alert alert-primary" role="alert">
    <form action="/article/modify" method="post" enctype="multipart/form-data">
        <div  class="form-group row">
            <input type="text" name="art_id" value="{{ article.id }}" hidden>
            <label class="col-sm-2 col-form-label">{{ article.author.username }}:</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="content" rows="5">{{ article.content }}</textarea>
                  <!--  判断是否再次点赞  -->
                    <a style="float: right" class="text-secondary" href="/article/thumb?&wid={{ article.id }}">
                        {{ article.n_thumb }}{% if is_thumb %}取消点赞{% else %}点赞{% endif %}
                    </a>
        <!--   判断是否是自己的动态               -->
        {% if article.author.id == session.uid %}
            <div  class="form-group row">
                <div class="col-sm-12">
                    <hr>
                    <a style="float: right;margin-left: 10px" class="btn btn-danger" href="/article/delete?art_id={{ article.id }}">删除动态</a>
                    <button style="float: right;" type="submit" class="btn btn-danger">修改</button>
                </div>
            </div>
        {% endif %}
            </div>
        </div>
    </form>
</div>



<!-- 评论页面 -->
<div class="alert alert-secondary" role="alert">
    <form action="/article/comment_art" method="post" >
        <div class="form-group row">
            <input type="hidden" name="art_id" value="{{ article.id }}" >
            <textarea class="form-control" name="content" rows="2" placeholder="请发表您的评论:"></textarea>
            <div  class="col-sm-12">
                <hr>
                <button style="float: right" type="submit" class="btn btn-success">评论</button>
            </div>
        </div>
    </form>
</div>

<!--评论展示区-->
{% for cmt in comments %}
<div class="alert alert-info" role="alert">
    {% if cmt.cid == 0 %}
     <!-- 最上层评论   -->
    {{ cmt.author.username }}&nbsp;说:{% else %}
     <!-- 回复相关的作者的信息   -->
    {{ cmt.author.username }}&nbsp;回复&nbsp;{{ cmt.upper.author.username }}
    {% endif %}
    <hr>
    {{ cmt.content }}
    <label style="float: right" >{{ cmt.created }}</label>
    <a style="color: red" href="/article/delete_cmt?cid={{ cmt.id }}">&nbsp;&nbsp;&nbsp;&nbsp;删除</a>
    <hr>

    <form action="/article/comment_art" method="post">
        <div >
            <input  type="text"  class="form-check-label" name="content" />
            <button  style="float: right"  type="submit"  class="btn btn-success">回复</button>
        </div>
        <input type="hidden" name="art_id" value="{{ article.id }}" />
        <input type="hidden" name="cid" value="{{ cmt.id }}" />
    </form>


</div>
{% endfor %}
{% endblock  %}