{% extends 'base.html' %}

<!--显示所有动态页面-->
{% block content %}
<h2>动态圈</h2>

<hr>
{% for art in articles %}
<div class="alert alert-info" role="alert">
    <img class="rounded-circle" src="{{ art.author.avatar }}" height="40px" width="40px">
    <strong><a href="/user/other_info?uid={{ art.author.id }}">{{ art.author.username }}</a>:</strong>

     <!--  判断是否关注此人  -->
    <a style="float: right" class="text-primary" href="/user/follow?fid={{ art.author.id }}&is_show_all=1">
        {% if session.uid in art.check_follow %}
        取消关注
        {% else %}
        关注
        {% endif %}
    </a>
    <hr>
    &nbsp;&nbsp;&nbsp;&nbsp;{{ art.content | replace('\n','<br>') | safe }}
    <hr>
    <label style="float: right" class="text-secondary">{{ art.updated }}</label>

    <!--  判断是否登录  -->
    {% if session.uid %}
    <a class="text-secondary" href="/article/show?art_id={{ art.id }}">评论&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% else %}
    <a class="text-secondary" href="/user/login">评论&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% endif  %}

     <!--  判断是否再次点赞  -->
    <a  class="text-primary" href="/article/thumb?wid={{ art.id }}&is_show_all=1">

        {% if session.uid in art.check_thumb %}
        取消点赞
        {% else %}
        点赞
        {% endif %}
        {{ art.n_thumb }}&emsp;
    </a>



</div>
{% endfor %}




<nav aria-label="Page navigation">
    <ul class="pagination">
        <!--  判断是否是第一页      -->
        {% if page == 1 %}
         <li class="page-item"><a class="page-link" > 上一页  </a></li>
        {% else %}
         <li class="page-item"><a class="page-link" href="/article/show_all?page={{ page - 1 }}"> 上一页  </a></li>
        {% endif %}

        {% for num in page_num %}
            {% if num == page %}
                <li class="page-item"><a class="page-link text-secondary">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/article/show_all?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        <!--    判断是否是最后一页    -->
        {% if page == max_page  %}
        <li class="page-item"><a class="page-link" > 下一页  </a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/article/show_all?page={{ page + 1 }}"> 下一页  </a></li>
        {% endif %}
    </ul>
</nav>
{% endblock  %}


<!--边栏内容-->
{% block sidebar %}
<div style="margin-top: 100px">
    <h3 class="text-warning">热门动态</h3>
</div>
<hr>
{% for hot_art in hot_articles %}
<div class="alert alert-heading" role="alert">
    <img class="rounded-circle" src="{{ hot_art.author.avatar }}" height="40px" width="40px">
    <strong><a href="/user/other_info?uid={{ hot_art.author.id }}">{{ hot_art.author.username }}</a>:</strong>

    &nbsp;&nbsp;&nbsp;&nbsp;{{ hot_art.content | replace('\n','<br>') | safe }}
    <br>
    <label style="float: right" class="text-secondary">{{ hot_art.updated }}</label>
    <!--  判断是否登录  -->
    {% if session.uid %}
    <a class="text-secondary" href="/article/show?art_id={{ hot_art.id }}">评论&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% else %}
    <a class="text-secondary" href="/user/login">评论&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% endif  %}

    <!-- 点赞数量   -->
    <span class="text-secondary" >{{ hot_art.n_thumb }}  赞</span>
    <hr>
</div>
{% endfor %}
<hr>



{% endblock %}