{% extends 'base.html' %}

<!--动态显示页面-->
{% block content %}
{% if err  %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">错误</h4>
  <hr>
  <p class="mb-0">{{ err }}</p>
</div>
{% endif %}

<div style="margin-top: 20px" class="alert alert-primary" role="alert">
    <form action="/article/modify" method="post" enctype="multipart/form-data">
        <div  >
            <input type="text" name="art_id" value="{{ article.id }}" hidden>
            <span class="text-primary" >{{ article.author.username }}:</span>
            <!--  判断是否再次点赞  -->
            <a style="float: right" class="text-primary" href="/article/thumb?&wid={{ article.id }}">
                    {{ article.n_thumb }}&emsp;{% if is_thumb %}取消点赞{% else %}点赞{% endif %}
            </a>
        </div>

        <div  class="col-sm-14">

          <textarea  class="form-control" name="content" rows="5">{{ article.content }}</textarea>
        </div>

        <!--   判断是否是自己的动态               -->
        {% if article.author.id == session.uid %}
            <div  class="form-group row">
                <div class="col-sm-12">
                    <hr>
                    <a style="float: right;margin-left: 10px" class="btn btn-danger"
                       href="/article/delete?art_id={{ article.id }}">删除动态
                    </a>
                    <button style="float: right;" type="submit" class="btn btn-danger">修改</button>
                </div>
            </div>
        {% endif %}
    </form>
</div>



<!-- 评论页面 -->

<div class="alert alert-secondary" role="alert">
    <form class="form-inline" action="/article/comment_art" method="post" >
        <div class="form-group mx-sm-3 mb-2">
            <input type="hidden" name="art_id" value="{{ article.id }}" >
            <input style="margin-top: 2px" type="text"   class="form-control" name="content"  placeholder="请发表您的评论:">
        </div>
        <button style="float: right" type="submit" class="btn btn-success">评论</button>



    </form>
</div>

<!--评论展示区-->
{% for cmt in comments %}
<div class="alert alert-info" role="alert">
    {% if cmt.cid == 0 %}
     <!-- 最上层评论   -->
    {{ cmt.author.username }}&nbsp;说:{% else %}
     <!-- 回复相关的作者的信息   -->
    {{ cmt.author.username }}&nbsp;回复&nbsp;{{ cmt.upper.author.username }}
    {% endif %}
    <hr>
    {{ cmt.content }}
    <label style="float: right" >{{ cmt.create_time }}</label>
    <a style="color: red;float: right" href="/article/delete_cmt?cid={{ cmt.id }}">删除&emsp;</a>
    <hr>

    <form class="form-inline" action="/article/comment_art" method="post">
        <div class="form-group mx-sm-3 mb-2" >
            <input  style="margin-top: 2px" type="text" class="form-control"  name="content" />
        </div>
        <button  style="float: right"  type="submit"  class="btn btn-success">回复</button>

        <input type="hidden" name="art_id" value="{{ article.id }}" />
        <input type="hidden" name="cid" value="{{ cmt.id }}" />
    </form>


</div>
{% endfor %}
{% endblock  %}